<h2 class="subtitle">Your Lists</h2>

<table class="table">
  <% @lists.each do |list| %>
    <tr>
      <td><%= link_to list.name, list_path(list) %></td>
      <td>
        <div class="is-pulled-right">
          <%= link_to "Edit", edit_list_path(list), class: "button" %>
          &nbsp;
          <%= link_to "Delete", list_path(list), class: "button is-danger", method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
      </td>
    </tr>
  <% end %>
</table>

<hr>

<p><%= link_to "Create a list", new_list_path %></p>
