<h2 class="subtitle"><%= @list.name %></h2>
<% if @users.present? %>
  <p>
    Shared with <%= @users.map(&:name).join(", ") %>.
  </p>
  <br>
<% end %>

<div id="tasks">
  <%= render "tasks", grouped_tasks: @grouped_tasks, list: @list %>
</div>

<hr>

<p><%= link_to "Add a task", new_list_task_path(@list), remote: true %></p>
