@import "bulma";

.global-notification {
  border-radius: 0;
}

.task__link {
  color: $text;
}

.task--completed {
  background-color: rgba($primary, 0.2);
}

.task__actions {
  display: flex;
  flex: none;
  @media (min-width: $tablet) {
    flex-direction: row-reverse;
    justify-content: flex-start;
    flex-basis: 300px;
  }
}

.list__actions {
  display: flex;
  justify-content: flex-end;
}
